body {
    margin: auto 0;
    background-color: #0e171a;
    color: #e2f4fd;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Generic */

.capped {
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e2f4fd;
}

.go-right {
    margin-left: auto;
}

.heading-h2 {
    
}

/* Nav */

.navbar {
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    margin: 0;
}

.main-nav > li {
    padding: 20px;
}

/* Landing Page */

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    margin: 20px;
}

.intro {

}

#name {
    font-size: 2.4em;
}

.description {

}

.my-links {
    display: flex;
}

.my-links > li {
    margin: 20px;
}

.skills {
    margin: 20px;
}

.skills-list {
    list-style: square;
}

/* My Work */

.work {
    margin: 20px;
}

.work > h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.project-card {
    border: 2px solid #e2f4fd;
    padding: 20px;
}

.img-container {
    border: 1px solid #85e7be;
    padding: 10px;
}

.project-links {
    display: flex;
    justify-content: center;
    padding: 0;
}

.project-links > li {
    margin: 0 20px;
}

/* About */

.about {
    margin: 20px;
}

.about > h2 {
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-photo {

}

/* Colors */

.cyan {
    color: #85e7be;
}